<h1> Search Results </h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_locations.empty? %>
<p> No Records Found </p>

<% else %>

	<% @search.search_locations.each do |l| %>
		<br>

		<div>
			<h1><%= l.city %>
			</h1>
			<p>Governorate: <%= l.governorate %> </p>
			<p>Country: <%= l.country %></p>
			<p>Description: <%= l.description %> 
			</p>
		</div>
	<% end %>
<% end %>
