<!DOCTYPE html>
<html>
<head>
  <title>Countryconditions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


</head>
<body>
<%= render 'partials/user' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="main container" class="container">
	<div class = "row">
		<div class="col-sm-2">
		<%= render 'partials/sidebar' %>
		</div>
		<div id="content" class= "col-sm-7">
				<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
