<!DOCTYPE html>
<html>
<head>
  <title>Countryconditions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<%= render 'partials/user' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="main container" class="container">
	<div class = "row">
		<div style="padding-top: 20px" class="visible-xs"></div>
		<div class="col-md-2">
			<h2>Side Bar</h2>
		</div>
		<div id="content" class= "col-md-9">
			<div class="col-md-10">
				<%= yield %>
			</div>
		</div>
	</div>
</div>
</body>
</html>
